body {
  height: 100%;
}

html {
  height: 100%;
  margin: 0;
}

p {
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
}

h1,
h2 {
  font-family: 'Saira', sans-serif;
}

h1 {
  font-size: 3rem;
}

.logo-img {
  width: 130px;
  margin: -25px;
}
.section-title {
  font-family: 'Saira', sans-serif;
  font-size: 2rem;
}

.nav-link-custom {
  color: white !important;
  padding-right: 1rem !important;
}

.nav-link-custom:hover,
.nav-link-custom:focus,
.nav-link-custom:active {
  color: #a1d8ff !important;
}

.nav-link-custom p::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #a1d8ff;
  display: block;
}

.nav-link-custom:hover p::after,
.nav-link-custom:focus p::after,
.nav-link-custom:active p::after {
  width: 100%;
  transition: all 0.3s ease 0s;
}

.custom-navbar-toggler {
  border: none !important;
  min-width: auto;
}

.hamburger-icon {
  color: white;
  font-size: 2.6rem;
  transition: all 0.1s ease 0s;
}

.custom-navbar-toggler:hover .hamburger-icon,
.custom-navbar-toggler:focus .hamburger-icon,
.custom-navbar-toggler:active .hamburger-icon {
  transition: all 0.1s ease 0s;
  font-size: 2.9rem;
}

.icon-cog {
  color: white;
}

.heading-greating {
  font-size: 1.7rem;
}

.heading-role {
  font-family: 'Questrial', sans-serif;
  font-size: 1.7rem;
  font-weight: 300;
}

.heading-location {
  font-size: 1rem;
}

.one {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)),
    url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.container-custom {
  min-height: 92vh;
  background-color: transparent;
}

.container-custom-project {
  min-height: 60vh;
  margin-bottom: 2%;
  margin-top: 2%;
}

.container-custom-courses {
  min-height: 35vh;
}

.button-custom {
  min-width: 30%;
  border-radius: 25px;
  font-size: 1.1rem;
}

/* This is the action buttons/links styles in the page */
.custom-action-button {
  color: #212529;
  border-radius: 25px;
  border: 3px solid white;
  padding: 0.7rem 1em;
  background: white;
  overflow: hidden;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 1;
}

.custom-action-button:hover {
  text-decoration: none;
  color: #212529;
  border: 3px solid white;
}

.custom-action-button::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  background-color: #a1d8ff;
  transition: all 0.5s ease 0s;
}

.custom-action-button:hover::before {
  width: 100%;
  transition: all 0.4s ease 0s;
}

.custom-button-icon {
  margin-right: 7px;
}

.social-icon {
  font-size: 2.6rem;
}

.social-icon:hover {
  color: #a1d8ff;
  transition: all 0.3s ease 0s;
}

/* Hero section action button's container to flex content */
.hero-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.4rem !important;
}

.dark-bg {
  background-color: #ececec8c;
}

.project-description {
  background-color: rgba(256, 256, 256, 0.5);
  padding-bottom: 8px;
  border-radius: 10px;
}

.project-title {
  border-bottom: 2px solid black;
  width: 90%;
  font-weight: bold;
  font-size: 1.6em;
}

.img-size {
  width: 10px;
  height: 10px;
}

.border-design {
  border: 0;
  height: 2px;
  margin: 1rem 35% 4rem 35%;
  background: linear-gradient(90deg, #ffffff, #000000, #ffffff);
  border-radius: 10px;
}

.imgc {
  margin: 5px;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}

.button-custom-course {
  display: block;
  width: 20%;
  margin: 2px auto;
}

.card-custom {
  padding: 0;
  margin: 10px auto;
  width: 22rem;
}

.row-custom {
  display: flex;
  flex-wrap: wrap;
}

.img-custom {
  border: 1px solid rgba(2, 7, 10, 0.5);
}

.card-body-custom {
  display: flex;
  flex-direction: column;
}

.card-button {
  margin-top: auto;
}

.course-title {
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.course-title:hover {
  text-decoration: none;
}

.link-projects {
  color: black;
  border-radius: 25px;
  border: 3px solid white;
  padding: 0.7rem 1em;
  margin: 10px 30%;
  background: gray;
  text-decoration: none;
  display: block;
  position: relative;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  font-size: 18px;
  font-weight: 800;
}

.text-style {
  text-align: justify;
}

.card-custom:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 992px) {
  .custom-action-button {
    margin-bottom: 0.8rem !important;
  }
  .hero-buttons-container {
    margin-top: 2rem !important;
    display: inline-block;
  }
  .course-title {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 576px) {
  .course-title {
    font-size: 1rem;
  }
  .link-projects {
    margin: 10px 20%;
  }
}
