body {
    height: 100%;
    
}
html {
    height: 100%;
    margin: 0;
}

p { 
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.2rem ;
}

h2 {
    font-family: 'Calistoga', cursive;
}

.section-title {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
}

.text-container {
    background-color: rgba(256,256,256,1);
    min-height: 70vh;
    box-shadow: 60px -57px #0088c5;
}

.container-custom {
    min-height: 100vh; 
    background-color: transparent;
}

.container-custom-project {
    min-height: 70vh;
    margin-bottom: 2%;
    margin-top:2%;
}

button {
    min-width: 30%;
}

.one{
  /* background: linear-gradient(180deg, #52a4c9, #a9d2e4 35%,white) !important;*/
    background-image: url('../images/background.jpg');
    background-size: cover;
}

.two {
    background: repeating-linear-gradient( 184deg, #ffffff, #ffffff 21%, #e8f3f7 10%, #e2eff5 84% );
      }

.project-description {
    background-color: rgba(256,256,256,0.5);
}

.project-title {
    border-bottom: 2px solid black;
    width: 90%;
}

.img-size {
    width:10px;
    height:10px;
}

.border-design {
    border: 0;
    height: 9px;
    margin: 1rem 35% 4rem 35%;
    background: linear-gradient(90deg, #52a4c9, #d7b970 47%,#52a4c9);
    border-radius: 10px;
}

.imgc {
    margin: 5px;
}