body {
  height: 100%;
}
html {
  height: 100%;
  margin: 0;
}
p {
  font-family: 'Questrial', sans-serif;
  font-size: 1.2rem;
}
h1,h2 {
  font-family: 'Saira', sans-serif;
}
.section-title {
  font-family: 'Saira', sans-serif;
  font-size: 2rem;
}

.nav-link-custom {
  color: white !important;
}

.nav-link-custom:hover {
  color: black !important;
  background-color: white;
}

.icon-cog {
  color: white;
}

.one {
  /* background: linear-gradient(0deg, #52a4c9, #a9d2e4 35%, white) !important; */
  /* background-image: url("../images/background.jpg"); */
  background-image: linear-gradient(rgba(100,100,100,0.5), rgba(100,100,100,0.5)), url("../images/background.jpg");
  /* background: linear-gradient(145.85deg, #D6B96B -2.65%, rgba(174, 218, 250, 0) 68.76%); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  color: white;
}
.container-custom {
  min-height: 92vh;
  background-color: transparent;
}

.container-custom-project {
  min-height: 60vh;
  margin-bottom: 2%;
  margin-top: 2%;
}

button {
  min-width: 30%;
}

.text-container {
  background-color: #00000024;
}

.dark-bg {
  background-color: #ececec8c;
}
.project-description {
  background-color: rgba(256, 256, 256, 0.5);
}

.project-title {
  border-bottom: 2px solid black;
  width: 90%;
  font-weight: bold;
  font-size: 1.6em;
}

.img-size {
  width: 10px;
  height: 10px;
}
.skills-container {
  /* background: repeating-linear-gradient(
    184deg,
    #ffffff,
    #ffffff 21%,
    #e8f3f7 10%,
    #e2eff5 84%
  ); */
  
}

.border-design {
  border: 0;
  height: 9px;
  margin: 1rem 35% 4rem 35%;
  background: linear-gradient(90deg, #52a4c9, #d7b970 47%, #52a4c9);
  border-radius: 10px;
}

.imgc {
  margin: 5px;
}

/* @media only screen and (max-width: 600px) {
  .one {
    background-size: unset;
  }
} */
