<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Questrial|Saira:400,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    />
  </head>
  <body>
    <!--- Navbar -->
    <nav class="navbar navbar-expand-md nav-custom navbar-dark bg-dark">
      <div class="container">
        <button
          class="navbar-toggler custom-navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="custom-navbar-toggler-icon">
            <i class="fa fa-bars fa-2x fa-w-16 hamburger-icon"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/#mystory"
                aria-label="view my story section"
              >
                <p class="m-0">My Story</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/#contact"
                aria-label="view contact section"
              >
                <p class="m-0">Let's Connect</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="../static/Akram_resume.pdf"
                target="_blank"
                aria-label="view my resume in a seprate page"
              >
                <p class="m-0">Resume</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <article>
      <div class="text-center pt-4">
        <h1 class="my-3">Certifications & Courses</h1>
      </div>

      <div
        class="row container container-custom-project align-items-center mx-auto my-4"
      >
        <a
          href="../static/images/aandd.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/aandd.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for algorithms and data structures course"
          />
          Data Structure and Algorithms
        </a>
        <a
          href="../static/images/randr.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/randr.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for react with redux course"
          />
          React with Redux
        </a>
        <a
          href="../static/images/fsd.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/fsd.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for full stack developer udacity course"
          />
          Full Stack Developer
        </a>
        <a
          href="../static/images/fsf.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/fsf.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for full stack web developement with flask course"
          />
          Full Stack Developement with Flask
        </a>
        <a
          href="../static/images/oop.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/oop.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for programming foundation: object oriented design course"
          />
          Object-Oriented Design
        </a>
        <a
          href="../static/images/raf.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/raf.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for building RESTful api with flask course"
          />
          RESTful APIs with Flask
        </a>
        <a
          href="../static/images/dp.jpg"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/dp.jpg"
            class="img-fluid rounded imgc"
            alt="certificate of completion for design patterns couese"
          />
          Python: Design Patterns
        </a>
        <a
          href="../static/images/htmlsss.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/htmlsss.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for html structure, syntax and semantics course"
          />
          HTML5: Structure, and Semantics
        </a>
        <a
          href="../static/images/set.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/set.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for SQL Essential Training course"
          />
          SQL Essential Training
        </a>
        <a
          href="../static/images/awd.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/awd.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for Accessibility for Web Design course"
          />
          Accessibility for Web Design
        </a>
        <a
          href="../static/images/wsf.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/wsf.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for Web Security Foundations course"
          />
          Web Security Foundations
        </a>
        <a
          href="../static/images/cbm.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/cbm.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for CSS Box Model course"
          />
          CSS Box Model
        </a>
        <a
          href="../static/images/ts.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/ts.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for TypeScript course"
          />
          TypeScript
        </a>
        <a
          href="../static/images/cwdt.JPG"
          data-toggle="lightbox"
          data-gallery="gallery"
          class="col-md-4 col-sm-6 my-2 course-title text-center"
        >
          <img
            src="../static/images/cwdt.JPG"
            class="img-fluid rounded imgc"
            alt="certificate of completion for chrome web developer tools course"
          />
          Chrome Web Developer Tools
        </a>
      </div>
    </article>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
          event.preventDefault();
          $(this).ekkoLightbox();
        });
      });
    </script>
  </body>
</html>
