<!DOCTYPE html>
<html lang="en">
<head>
	<title> Dictionary</title>
</head>
<body>

	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h1 class="display-4">English Dictionary</h1>
	    <p class="lead">You can find the meaning English words here</p>
	  </div>
  </div>
		<h3>Write the word: </h3>
		<div>
			{{text | safe}}
		</div>
		<form action="{{url_for("answer")}}" method="POST">
			<input type="text" name="word" required>
			<button type="submit">Submit</button>
		</form>

</body>
</html>
