<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Akram's site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="../static/style.css" rel="stylesheet">
	<link rel="shortcut icon" href="#" />

</head>

<body background="../static/background.jpg">
	<div class="container">
		<nav class="navbar navbar-expand-md navbar-light bg-dark sticky-top">
			<div class="container">
				<!--<a class="navbar-brand" href="#"><img src="../static/logo.png"></a>-->
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarResponsive">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item ">
							<a class="nav-link text-white" href="../static/Akram-resume.pdf" target="_blank">About Me</a>
						</li>
						<li class="nav-item ">
							<a class="nav-link text-white" href="#contact">Contact</a>
						</li>
						<li class="nav-item ">
							<div class="dropdown show">
								<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Projects
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item" href="/index" target="_blank">English Dictionary</a>
									<a class="dropdown-item" href="https://github.com/Akra20m/Site_Monitoring_Tool" target="_blank">Site Monitoring Tool</a>
									<a class="dropdown-item" href="/quiz" target="_blank">Multiple Choice Quiz</a>
									<a class="dropdown-item" href="/register" target="_blank">Blog</a>
								</div>
							</div>
						</li>

				</div>
		</nav>

		<div style="background-color: #e9ecef;">
			<!--- Jumbotron -->
			<div class="jumbotron border-bottom">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-sm text-center">
							<img src="../static/Akram.jpg" alt="..." class="img-thumbnail rounded-circle" width="50%">
						</div>
						<div class="col-sm">
							<h1 class="border-top border-bottom text-center"><b>AKRAM ABDULLAH</b></h1>
							<p class="lead mb-1">Toronto, Ontario, Canada</p>
							<p class="lead"> A passionate full stack developer with solid self-taught skills and a background in electrical engineering. Seeking a challenging position with potional for personal growth. </p>
						</div>
					</div>
				</div>
			</div>

			<!--- Skills -->

			<div class="col-12 text-center my-4">
				<h2>Skills</h2>
			</div>
			<div class="container">
				<div class="row text-center justify-content-center">
					<div class="col-md-2 p-2 m-2 border">
						<p class="mb-0 lead">HTML5</p><img src="../static/html.svg" alt="..." class=" img-fluid mt-1" width="50%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">CSS3</p><img src="../static/css.svg" alt="..." class=" img-fluid" width="40%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">JavaScript</p><img src="../static/js.svg" alt="..." class=" img-fluid" width="40%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">Python</p><img src="../static/python.svg" alt="..." class=" img-fluid" width="40%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">PostgreSQL</p><img src="../static/postgresql.svg" alt="..." class=" img-fluid" width="40%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">Flask</p><img src="../static/flask.svg" alt="..." class=" img-fluid" width="45%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead mb-2">Bootstrap 4</p><img src="../static/bootstrap.svg" alt="..." class=" img-fluid" width="55%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead mb-1">Git</p><img src="../static/git.svg" alt="..." class=" img-fluid" width="60%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">jQuery</p><img src="../static/jquery.svg" alt="..." class=" img-fluid" width="40%">
					</div>
					<div class="col-md-2 p-2 m-2 border">
						<p class="lead">Photoshop</p><img src="../static/photoshop.svg" alt="..." class=" img-fluid" width="40%">
					</div>
				</div>
			</div>

			<!--- Projects -->

			<div class="col-12 text-center my-4 border-top">
				<h2 class="mt-4">Projects</h2>
			</div>

			<div class="container">
				<div class="row text-center justify-content-center">
					<div class="col-md-4 card m-4" style="width: 18rem;background-color:#d9dde0">
						<img class="card-img-top mt-4" src="static/dictionary.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">English Dictionary</h5>
							<p class="card-text"><b>Skills:</b> HTML5 - CSS3 - PostgreSQL - Flask</p>
							<a href="/index" class="btn btn-primary">Go to project</a>
						</div>
					</div>

					<div class="col-md-4 card m-4" style="width: 18rem;background-color:#d9dde0">
						<img class="card-img-top mt-4" src="static\Picture1.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Site Monitoring Tool</h5>
							<p class="card-text"><b>Skills:</b> Python - Tkinter</p>
							<a href="https://github.com/Akra20m/Site_Monitoring_Tool" class="btn btn-primary" target="_blank">Go to project</a>
						</div>
					</div>

					<div class="col-md-4 card m-4" style="width: 18rem;background-color:#d9dde0">
						<img class="card-img-top mt-4" src="static\mcq.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Multiple Choice Quiz</h5>
							<p class="card-text"><b>Skills:</b> HTML5 - CSS3 - JavaScript - Flask</p>
							<a href="/quiz" class="btn btn-primary">Go to project</a>
						</div>
					</div>
					<div class="col-md-4 card m-4" style="width: 18rem;background-color:#d9dde0">
						<img class="card-img-top mt-4" src="static\blog.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Blog (In development)</h5>
							<p class="card-text"><b>Skills:</b> HTML5 - CSS3 - PostgreSQL - Flask</p>
							<a href="/register" class="btn btn-primary">Go to project</a>
						</div>
					</div>
				</div>
			</div>
			<!--- Education -->

			<div class="col-12 text-center mt-4 border-top">
				<h2 class="mt-4">Education</h2>
			</div>

			<section class="container-fluid">
				<div class="row align-items-center">
					<div class="col-1"></div>
					<div class="col-5 text-center">
						<img class="img-fluid mt-2" src="static\kfupm.png" alt="" width="40%">
					</div>

					<div class="col-5 text-center">
						<img class="img-fluid" src="/static/uoft.png" alt="" width="50%">
					</div>
					<div class="col-1"></div>
				</div>
			</section>

			<section class="container-fluid">
				<div class="row align-items-center">
					<div class="col-1"></div>

					<div class="col-5 text-center">
						<h4>
							King Fahd University (KFUPM)
						</h4>
						<p>Sep. 2011- Jun. 2016</p>
						<p><b>Bachelor of Science(B.Sc)</b></p>
						<p>Electrical Engineering</p>
					</div>
					<div class="col-5 text-center">
						<h4>
							University of Toronto
						</h4>
						<p>Sep. 2016 – Jun. 2018</p>
						<p><b>Master of Engineering(M.Eng)</b></p>
						<p>Electrical Engineering</p>
					</div>
					<div class="col-1"></div>

				</div>
			</section>



			<!--- Connect -->
			<div class="container mt-4 border-top" id="contact">
				<div class="row text-center padding">
					<div class="col-12">
						<h5 class="lead"> CONTACT ME </h5>
					</div>
					<div class="col-sm-3"></div>
					<div class="col-sm-1"><i class="fas fa-phone-square fa-3x"></i></div>
					<div class="col-sm-2 my-auto">
						<p class="my-auto"><b>+1(780)288-9439</b></p>
					</div>
					<div class="col-sm-1"><i class="fas fa-envelope fa-3x"></i></div>
					<div class="col-sm-2 my-auto">
						<p class="my-auto"><b>Akra200m@gmail.com</b></p>
					</div>
					<div class="col-sm-3"></div>

					<div class="col-12 social padding mb-5 mt-1">
						<a href="https://www.linkedin.com/in/akram-abdullah-833a4bb4/" target="_blank"><i class="fab fa-linkedin fa-3x mx-1"></i></a>
						<a href="https://github.com/Akra20m" target="_blank"><i class="fab fa-github fa-3x mx-1"></i></a>
						<a href="#" target="_blank"><i class="fab fa-twitter fa-3x mx-1"></i></a>
						<a href="#" target="_blank"><i class="fab fa-facebook fa-3x mx-1"></i></a>




					</div>
				</div>
			</div>


			<!--- Footer -->
			<div class="container mt-0 mb-2 text-center">
				<p style="font-size:18px">© Akram Abdullah</p>
			</div>
		</div>

	</div>
</body>

</html>
