<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Questrial|Saira:400,500&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--- Navbar -->
    <nav class="navbar navbar-expand-md nav-custom navbar-dark bg-dark">
      <div class="container">
        <a href="/">
          <img
            class="logo-img"
            src="../static/images/logo.svg"
            alt="Akram personal logo"
          />
        </a>
        <button
          class="navbar-toggler custom-navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
        >
          <span class="custom-navbar-toggler-icon">
            <i class="fa fa-bars fa-2x fa-w-16 hamburger-icon"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/#mystory"
                aria-label="view my story section"
              >
                <p class="m-0">My Story</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/project"
                aria-label="view projects section"
              >
                <p class="m-0">Projects</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/course"
                aria-label="view coursessection"
              >
                <p class="m-0">Courses</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="/#contact"
                aria-label="view contact section"
              >
                <p class="m-0">Let's Connect</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-link-custom"
                href="../static/Akram_resume.pdf"
                target="_blank"
                aria-label="view my resume in a seprate page"
              >
                <p class="m-0">Resume</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container text-center">
      <div class="text-center pt-4">
        <h1 class="my-3">Projects</h1>
      </div>
      <div class="row-custom my-4">
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/covid19.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">COVID-19 Tracker - Arabic</h5>
            <p class="card-text text-style">
              A tracker in the Arabic language to monitor the spread of COVID-19
              in Arabic countries<br /><small
                >React | Node.js | Express.js | Redis | API Integration |
                amCharts 4</small
              >
            </p>
            <div class="card-button">
              <a
                href="https://www.covid19tracker-ar.com"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/Arab-Covid19-Tracker"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/social.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">Social Network Website</h5>
            <p class="card-text text-style">
              A personal networking website to demonstrate users’ interactions
              within the platform where users can register, login, add posts and
              comments<br /><small
                >HTML | CSS | Flask | PostgreSQL | React | RESTful API |
                Heroku</small
              >
            </p>
            <div class="card-button">
              <a
                href="https://social-network-akram.herokuapp.com/"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/Social-Media-Network"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/space.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">Space War Game</h5>
            <p class="card-text text-style">
              A responsive and user-friendly game where the player controls a
              spaceship to destroy enemies<br /><small
                >HTML | CSS | Vanilla JS | OOP | GitHub Pages
              </small>
            </p>
            <div class="card-button">
              <a
                href="https://akra20m.github.io/Space-War-Game/"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/JavaScript-Game"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/moneyt.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">MoneyT-Landing Page</h5>
            <p class="card-text text-style">
              A Landing Page for a financial services and money transfer
              company<br /><small
                >HTML | CSS | React | RESTful API | Netlify</small
              >
            </p>
            <div class="card-button">
              <a
                href="https://moneyt.netlify.com/"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/MoneyT-LandingPage"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/tic.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">Tic Tac Toe Game</h5>
            <p class="card-text text-style">
              My spin on the old classic game<br /><small
                >CSS | HTML | REACT | REACT HOOKS | Responsive Design | GitHub
                Pages
              </small>
            </p>
            <div class="card-button">
              <a
                href="https://akra20m.github.io/TicTacToe"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/TicTacToe"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/choice.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">Multiple Choice Quiz</h5>
            <p class="card-text text-style">
              A quiz to test your knowledge with score tracking<br /><small
                >HTML | CSS | Vanilla JS
              </small>
            </p>
            <div class="card-button">
              <a
                href="https://akramabdullah.herokuapp.com/quiz"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/My-Website-Project/blob/master/static/panel.js"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/dict.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">English Dictionary</h5>
            <p class="card-text text-style">
              A tool to find the meaning of some pre-defined words<br /><small
                >HTML | Bootstrap | Flask | PostgreSQL
              </small>
            </p>
            <div class="card-button">
              <a
                href="https://akramabdullah.herokuapp.com/main"
                class="btn btn-dark button-custom"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/My-Website-Project/blob/master/templates/main.html"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
        <div class="card col-custom card-custom">
          <img
            class="card-img-top img-custom"
            src="../static/images/monitor1.png"
            alt="Card image cap"
          />
          <div class="card-body card-body-custom">
            <h5 class="card-title">Website Monitoring Tool</h5>
            <p class="card-text text-style">
              A tool to periodically monitor an inputted URL for any updates
              then send text and email notifications upon updates<br /><small
                >Python | Tkinter
              </small>
            </p>
            <div class="card-button">
              <a
                href="#"
                class="btn btn-dark button-custom disabled"
                target="_blank"
                >Live</a
              >
              <a
                href="https://github.com/Akra20m/Site_Monitoring_Tool"
                class="btn btn-dark button-custom"
                target="_blank"
                >GitHub</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </body>
</html>
