<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Akram's site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>

<body style="background-color:#D2F1FF">
	<div class="container my-5">
		<div class="row text-center">
			<div class="col"></div>
			<div class="col-8">

				<p>
					<button class="btn btn-primary mx-auto" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Start Quiz 1
					</button>
				</p>
				<div class="collapse" id="collapseExample">
					<div class="card card-body">
						<div id="quiz">
							<div id="question" style="font-size:22px;font-weight: bold" class="text-left m-2"></div>
							<div class="row text-left">
								<div class="col-6 border">
									<label><input type="radio" name="choice" value="1" onclick="activate();" /><span id="A"></span></label>
								</div>
								<div class="col-6 border">
									<label><input type="radio" name="choice" value="2" onclick="activate();" /><span id="B"></span></label>
								</div>
								<div class="col-6 border">
									<label><input type="radio" name="choice" value="3" onclick="activate();" /><span id="C"></span></label>
								</div>
								<div class="col-6 border">
									<label><input type="radio" name="choice" value="4" onclick="activate();" /><span id="D"></span></label>
								</div>
							</div>
						</div>
						<div id="score" style="display:none" class="my-4"> </div>
						<button type="button" class="btn btn-primary my-2" id="next" onclick="nextQuestion();" disabled>Next question</button>
						<button type="button" class="btn btn-primary my-2" id="tryAgain" onclick="resetQuiz();" style="display:none;">Try Again</button>
					</div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</div>

	<script type="text/javascript" src="../static/panel.js"></script>

</body>

</html>
